body {
  // @include font-family(serif);
  overflow-x: hidden;
  color: $black;
}
main {
  a {
    @include disable-mouse-outline;
  }
  p:last-child {
    margin: 0 !important;
  }
}
h1 {
  font-size: $h1-font-size;
  color: $black;
}
footer a {
  @include disable-mouse-outline;
}

// blog
.blog {
  .hero {
    @include breakpoint(small) {
      height: 22rem;
      width: 100%;
      margin-top: -32px;
    }
    @include breakpoint(large) {
      height: 100vh;
      margin-top: -52px;
    }
  }
  .first {
    position: relative;
    @include breakpoint(small) {
      height: 22rem;
      .article-img {
        position: static;
        display: block;
        height: 22rem;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
      }
    }
    @include breakpoint(large) {
      height: 100vh;
      overflow-y: hidden;
      .article-img {
        position: fixed;
        display: block;
        object-fit: cover;
        height: 100vh;
        max-width: 100%;
        width: 48%;
      }
    }
  }
  .bloglogo {
    width: 55px;
    display: inline-block;
  }
  h1 {
    font-size: rem-calc(48);
    margin-top: -10px;
  }
  h2 {
    font-size: $h5-font-size;
  }
  .included-1 {
    @include breakpoint(small) {
      position: absolute;
      top: 1rem;
      left: 2em;
      color: $white;
      width: 100%;
    }
    @include breakpoint(large) {
      position: fixed;
      top: 8rem;
      left: 1em;
      color: $white;
      width: 48%;
    }
    a {
      color: $white;
      &:hover {
        color: $orange;
        text-decoration: underline;
      }
    }
    .bottom {
      padding-top: 15px;
      text-align: center;
    }
  }
  .included-2 {
    @include breakpoint(small) {
      position: absolute;
      top: 6rem;
      left: 2em;
      color: $white;
      width: 100%;
      z-index: 10;
    }
    @include breakpoint(large) {
      position: fixed;
      top: 15rem;
      left: 1em;
      color: $white;
      width: 45%;
      z-index: 10;
    }
  }
  .hollow {
    border-radius: 20px;
    margin-right: 6px;
    border-width: 6px;
    //  padding: 5px inherit;
    font-size: $h6-font-size;
  }
  .second {
    @include breakpoint(small) {
      overflow: scroll;
      margin-top: 3rem;
      padding: 0 30px;
    }
    @include breakpoint(large) {
      // overflow: scroll;
      margin-top: 10rem;
      // margin-right: 30px;
      padding: 0;
    }
  }
  // .nuxt-content p {
  //   margin-bottom: 20px;
  // }
  // .nuxt-content h2 {
  //   font-weight: bold;
  //   font-size: 28px;
  // }
  // .nuxt-content h3 {
  //   font-weight: bold;
  //   font-size: 22px;
  // }
  .icon.icon-link {
    background-image: url('~assets/svg/icon-hashtag.svg');
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
  .bg-blue-500 {
    background-color: rgba(66, 153, 225, 1);
  }
  .text-white {
    color: $white;
  }
  .t-shadow {
    text-shadow: 1px 1px 2px $red, 0 0 1em $blue, 0 0 0.2em $blue;
  }
  .content-img {
    display: block;
    height: 12rem;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .article-card {
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .article-card a {
    background-color: #fff;
    border-radius: 8px;
  }
  .article-card img div {
    border-radius: 8px 0 0 8px;
  }
  .nuxt-content-highlight {
    position: relative;
  }
  .nuxt-content-highlight .filename {
    position: absolute;
    right: 0;
    color: rgba(113, 128, 150, 1);
    font-weight: 300;
    z-index: 10;
    margin-right: 0.5rem;
    margin-top: 0.25rem;
    font-size: 0.875rem;
  }
  .token.keyword {
    color: #c792ea;
    font-style: italic;
  }
  .icon.icon-left {
    background-image: url('~assets/svg/icon_left.svg');
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background-position: top left -30px;
  }
  .icon.icon-right {
    background-image: url('~assets/svg/icon_right.svg');
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background-position: top right 0;
  }
  .code-inline,
  code {
    border: 0 solid #cacaca;
    background-color: transparent;
    font-family: consolas, 'Liberation Mono', courier, monospace;
    font-weight: normal;
    color: #fefefe;
    display: inline;
    word-wrap: break-word;
    padding: 0.125rem 0.3125rem 0.0625rem;
  }
  .articleSize {
    display: block;
    object-fit: cover;
    width: 25rem;
    max-width: 100%;
    height: 12rem;
  }
  // Pagenation
  .container {
    max-width: 1280px;

    .button.arrow {
      border: 1px solid #1779ba;
      color: #1779ba;
      background-color: $white;
      border-radius: 0.25rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 0.875rem;
      &:hover {
        background-color: rgba(66, 153, 225, 1);
        color: $white;
      }
    }
    &.mx-auto {
      margin-left: auto;
      margin-right: auto;
    }
    .my-5 {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
    .max-w-5xl {
      max-width: 64rem;
    }
    .w-5 {
      width: 1.25rem;
      &:hover {
        background-color: rgba(66, 153, 225, 1);
        color: $white;
      }
    }
    .h-5 {
      height: 1.25rem;
    }
  }

  .nuxt-content .placeholder500 {
    color: rgba(160, 174, 192, 0.8);
    padding-left: 20px;
  }
  .nuxt-content .border-gray-500 {
    border-color: rgba(160, 174, 192, 1);
  }
  .nuxt-content .text-gray-600 {
    color: rgba(113, 128, 150, 1);
  }
  .nuxt-content .text-gray-700 {
    color: rgba(74, 85, 104, 1);
  }
  .nuxt-content .rounded-md {
    border-radius: 0.375rem;
  }
}
a,
i {
  transition: all 0.5s;
}
.transition {
  transition: all 0.5s;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.fa.fa-arrow-circle-o-up {
  font-style: normal;
}
