@font-face {
  font-family: fontello;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/fontello.eot'), url('/fonts/fontello.eot#iefix') format('embedded-opentype'),
    url('/fonts/fontello.woff2') format('woff2'), url('/fonts/fontello.woff') format('woff'),
    url('/fonts/fontello.ttf') format('truetype'), url('/fonts/fontello.svg#fontello') format('svg');
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

// @media screen and (-webkit-min-device-pixel-ratio:0) {
//   @font-face {
//     font-family: 'fontello';
//     src: url('../font/fontello.svg?21286189#fontello') format('svg');
//   }
// }
[class^='con-']::before,
[class*='icon-']::before {
  display: inline-block;
  width: 1em;

  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes */
  margin-right: 0.2em;
  font-family: fontello, monospace;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  // speak: none;

  /* fix buttons height, for twitter bootstrap */
  text-align: center;

  /* Animation center compensation - margins should be symmetric */

  /* remove if not needed */
  text-decoration: inherit;

  /* you can be more comfortable with increased icons size */

  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* Uncomment for 3D effect */

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
