.off-canvas a {
  color: rgba($white, 0.8);
}
.sticky {
  z-index: 100;
  width: 100%;
}
.site-desktop-title.top-bar-title {
  position: absolute;
  top: 0.3rem;
  left: 2.5rem;

  @include breakpoint(tablet) {
    left: 1rem;
  }
}
.menu-icon {
  //   @include hamburger($color: rgba($white, 0.8));

  @include hamburger($color: darken(#8f8026, 30%));

  z-index: 100;
  width: 26px;
  height: 22px;
  margin-top: 15px;
}
.title-bar {
  //   background-color: rgba($black, 0.8);
  background-color: transparent;
}
.title-bar-title a {
  color: rgba($white, 0.8);
  &:hover {
    background-color: transparent;
  }
}

/*
.site-navigation {
  opacity: 0.8;
}
*/
.top-bar-right {
  & a {
    color: $white !important;
    background-color: rgba($black, 0.9) !important;
  }
}
.dropdown {
  & a:hover :not(img) {
    color: #fafafa !important;
    background: lighten(#333, 20%) !important;
  }
  & a:hover > span {
    color: #fafafa !important;
    background: transparent !important;
  }
  & a img:hover {
    opacity: 0.5 !important;
  }
  & .vertical {
    border-color: rgba($black, 0.9) !important;
    & a:hover {
      color: #fafafa !important;
      background: #333 !important;
    }
  }
}
.menu li {
  font-size: rem-calc(18);
  font-weight: normal;
}
.menu li:not(:first-of-type) {
  border-left: #333 1px solid;
}
.menu .active > a,
.menu .is-active > a,
.menu .current_page_item > a,
.menu .current_menu_item > a {
  color: #fafafa;
  background: #333;
}

@media only screen and (min-width: 40em) {
  //640 Medium and up
  //   :not(.home) .top-bar {
  .top-bar {
    position: relative;
    box-sizing: border-box;
    height: 6rem;
    padding-top: 6rem;
    padding-bottom: 1rem;
  }

  /*
  :not(.home) .top-bar {
    padding-left: -5rem;
  }
*/

  /*
  .home .top-bar {
    padding-top: 6.1rem;
  }
*/
  .bottom-bar {
    padding-top: -1rem;
    padding-bottom: 1rem;
  }

  /*
  .social-icons {
    position: relative;
    right: 0;
    top: -5rem;

    li {
      padding-left: 10px;
      display: inline-block;
    }
  }
*/
  .top-bar-title {
    position: absolute;
    top: 0;
    height: 6rem;
    a:hover {
      background-color: transparent !important;
    }
    img {
      width: 4.5rem;
      height: 4.5rem;
    }
    & span {
      position: relative;
      top: 1rem;

      // @include vertical-center;
      margin-left: 1rem;

      // width: 100%;
    }
  }
  span {
    margin-left: 0;
  }
}
