@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|M+PLUS+Rounded+1c|Kosugi+Maru|Roboto+Slab:400,400italic,600,600italic,700,700italic');

@font-face {
  font-family: 'Yu Gothic';
  font-weight: 100;
  src: local('Yu Gothic Medium');
}

@font-face {
  font-family: 'Yu Gothic';
  font-weight: 200;
  src: local('Yu Gothic Medium');
}

@font-face {
  font-family: 'Yu Gothic';
  font-weight: 300;
  src: local('Yu Gothic Medium');
}

@font-face {
  font-family: 'Yu Gothic';
  font-weight: normal;
  src: local('Yu Gothic Medium');
}

@font-face {
  font-family: 'Yu Gothic';
  font-weight: bold;
  src: local('Yu Gothic Bold');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 100;
  src: local('Helvetica Neue Regular');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  src: local('Helvetica Neue Regular');
}

/* monospace */

@font-face {
  font-family: SourceHanCodeJP-Regular;
  src: local('SourceHanCodeJP-Regular');
}

@font-face {
  font-family: 'Myrica M';
  src: local('Myrica M');
}

@font-face {
  font-family: 'MyricaM M';
  src: local('MyricaM M');
}

@font-face {
  font-family: 'Ricty Diminished Discord';
  src: local('Ricty Diminished Discord');
}

@font-face {
  font-family: 'Migu 1M';
  src: local('Migu 1M');
}

@font-face {
  font-family: 'Rounded M+ 1m regular';
  src: local('Rounded M+ 1m regular');
}

@font-face {
  font-family: 'Rounded Mgen+ 1m regular';
  src: local('Rounded Mgen+ 1m regular');
}

@font-face {
  font-family: 'VL ゴシック';
  src: local('VL ゴシック');
}

@font-face {
  font-family: 'MockFlowFont1';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/MockFlowFont1.eot?#iefix') format('embedded-opentype'),
    url('/fonts/MockFlowFont1.woff') format('woff'),
    url('/fonts/MockFlowFont1.ttf') format('truetype'),
    url('/fonts/MockFlowFont1.svg#MockFlowFont1') format('svg');
}

// @import '../../../node_modules/foundation-icon-fonts/foundation-icons.css';
// @font-face {
//   font-family: 'Helvetica Neue';
//   src: url('../fonts/HelveticaNeue/HelveticaNeue-Light.eot');
//   src: url('../fonts/HelveticaNeue/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/HelveticaNeue/HelveticaNeue-Light.woff2') format('woff2'),
//     url('../fonts/HelveticaNeue/HelveticaNeue-Light.woff') format('woff'),
//     url('../fonts/HelveticaNeue/HelveticaNeue-Light.ttf') format('truetype');
//   font-weight: 300;
//   font-style: normal;
// }
