#top {
  position: absolute;
  top: 0;
}
#content-top {
  position: absolute;
  top: 100vh;
}

/* footer */
footer {
  // position: relative;
  // margin-top: auto;
  // margin-top: -6rem;
  background: $primary-color;
  opacity: 0.9;
  .container {
    @include push-center;

    margin: 0 auto;
  }
  .copy {
    @include vertical-center;

    //  padding-top: 5px;
    font-size: 0.9rem;
    // color: $black;
    @include breakpoint(small only) {
      font-size: 0.7rem;
    }
  }
}
.footer {
  font-family: 'Rounded Mgen+ 1m regular', monospace;
  color: $white;
  background: $primary-color;
}
.footer-container {
  @include xy-grid-container;

  // margin-top: rem-calc ( 10 );
  // margin-top: auto;
}
.footer-grid {
  @include xy-grid;
  @include xy-cell(12);
  // @include vertical-center;
  padding: 0;
  section {
    @include xy-cell(auto);
    // @include xy-cell (100%);
  }
}
// #footer {
//   padding: rem-calc(30) 0 0;
//   margin: 0 auto;
//   color: white;
//   background-color: $topbar-background;
//   border-top: 1px solid #ccc;
//   @include breakpoint(small only) {
//     //     @include horizontal-center;
//     @include xy-grid(12);

//     padding: auto;
//     color: #fafafa;
//     background-color: $dark-nav-color;
//   }
//   // .section-spacing {
//   //   }
//   p {
//     margin: 1rem 1rem 1rem 0;
//     font-size: smaller;
//     color: white;
//   }
//   ul {
//     width: 100%;
//     padding: 0;
//     margin: 0;
//     list-style-type: none;
//     &.menu li {
//       padding: 0;
//       margin: 0;
//       font-size: $h4-font-size;
//     }
//     &.sub-menu li {
//       margin-left: 2rem;
//       font-size: $h5-font-size;
//       border: 0;
//     }
//     &.sub-menu li > ul li {
//       width: 100%;
//       margin-left: 1rem;
//     }
//     li.genericon a {
//       font-size: rem-calc(56);
//     }
//     a {
//       color: white;
//     }
//     @include breakpoint(air down) {
//       .menu {
//         width: 100%;
//         li {
//           width: 100%;
//         }
//         .sub-menu {
//           // width: 100% !important;
//           padding: 0;
//           margin: 0;
//           list-style: none;
//           background: #e7e7e7;
//           border: 1px solid #98adb7;
//           border-radius: 10px;
//           li {
//             width: 100%;
//             margin-left: 0;
//             background: none;
//             > a {
//               @include linkIcon(#383f9a);

//               display: block;
//               padding: 10px;
//               font-size: 1rem;
//               font-weight: bold;
//               color: $jet;
//               text-decoration: none;
//               background: none;
//               border-color: #ccc;
//               border-style: dotted;
//               border-width: 0 0 1px;
//               border-bottom: 1px solid #98adb7;
//               &:hover {
//                 color: lighten($jet, 10%);
//                 background-color: $green;
//               }
//             }
//             &:hover {
//               background-color: $green;
//             }
//           }
//           &:last-child {
//             border-bottom: 0;
//           }
//         }
//       }
//     }
//   }
//   footer i.fas {
//     margin-right: 10px;
//   }
// }
.back_to_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  & a {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}
